@font-face{
    font-family: "title";
    src: url('../Font/eastwest3d.ttf');
}
@font-face{
    font-family: "main_font";
    src: url('../Font/Imnova\ St.ttf');
}
@font-face{
    font-family: "creator";
    src: url('../Font/Microsoft\ YaHei.ttf');
}
html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: main_font;
}
.cb{
    clear: both;
}
::-webkit-scrollbar{
    width: 8px;
    background-color: #E2DCC7;
}
::-webkit-scrollbar-thumb{
    border-radius: 1px;
    background-color: #575352;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}
::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: #E2DCC7;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}
header{
    position: fixed;
    z-index: 1;
    background: #1a1b1c;
    padding-top: 20px;
    padding: 20px;
    width: 100%;
    height: 96px;
}
.left_area h3{
    margin-top: 18px;
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 3px;
    font-weight: 900;
    color: #FC4A4A;
}
.logout_btn{
    padding: 20px;
    background: #19B3D3;
    text-decoration: none;
    float: right;
    margin-top: -110px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
}
.logout_btn:hover{
    background: #0D9DBB;
}
.sidebar{
    background: url('../Home/image/side_bg.png');
    background-repeat: no-repeat;
    display: none;
    position: fixed;
    z-index: 9999;
    right: 0;
    top: 4%;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    font-size: 1.3em;
    letter-spacing: 1px;
    width: 186px;
    height: 618px;
    transition: 0.5s;
    transition-property: right;
}
.sidebar center{
    padding-top: 55px;
    padding-left: 40px;
}
.sidebar center h4{
    margin-bottom: 0;
    letter-spacing: 4px;
}
.sidebar .profile_image{
    width: 90px;
    height: 90px;
    border-radius: 100px;

}
.sidebar h4{
    color: #fff;
    margin-top: 0;
    letter-spacing: 2px;
}
.sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 65px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar1 a:hover{
    background: url('../Home/image/side_on_bg.png');
    background-repeat: no-repeat;
    width: 250px;
    margin-left: 20px
}
.gotop{
    position: absolute;
    width: 116px;
    height: 57px;
    cursor: pointer;
}
.sidebar img.icon{
    padding-right: 10px;
}
label #sidebar_btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    right: 120px;
    padding-top: 15px;
    font-size: 20px;
    margin:  5px 0;
    transition: 0.5s;
    transition-property: color;
}
label img:hover{
    color: #575352;
}
#check:checked ~ .sidebar{
    right: -190px;
}
#check:checked ~ .sidebar a span{
    display: none;
}
.header{
    background: #1a1b1c;
    width: 100%;
    height: 135px;
}
.badan{
    background: url('./Image/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 180vh;
}
.badan section{
    float: left;
    padding: 5px 10px;
    box-sizing: border-box;
}
.badan section.kiri{
    width: 20%;

}
.badan section.tengah{
    width: 60%;
}
.badan section.kanan{
    width: 20%;
}
.bawah{
    background: url('./Image/bgbawah.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.tes{
    padding-top: 300px;
}
.bawah .coming h1.comingsoon{
    text-align: center;
    font-size: 10vw;
    margin: 0;
    color: #FC4A4A;
    text-shadow: 5px 5px black;
}
.bawah .coming h1.comingsoon:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.bawah .soon h1.season:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.bawah .soon h1.season{
    text-align: right;
    padding-right: 200px;
    font-size: 10vw;
    margin: 0;
    color: white;
    text-shadow: 5px 5px black;
}
table.rank{
    padding-top: 25px;
    width: 15vw;
    height: 30vw;
}
table.rank thead.rankth tr td{
    text-align: center;
    font-size: 5vw;
    background: #FCDC4A;
}
table.rank thead.rankth tr td:hover{
    background: #FC4A4A;
}
table.rank tbody.ranktb tr td{
    text-align: center;
    font-size: 5vw;
    background: #FCDC4A;
}
table.rank tbody.ranktb tr td:hover{
    background: #484d49;
}
.des h1{
    text-align: center;
    background: url('../Home/image/header_bg.jpg');
    color: #FC4A4A;
}
.votes p{
    text-align: center;
    color: white;
    font-size: 2em;
}
.votes .piece{
    float: left;
    width: 20%;
    margin-bottom: 20px;
    max-height: 200px;
}
.votes .piece .pic{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    width: 10vw;
    height: 10vw;
    border-radius: 100%;
    border: 1px solid #FCDC4A;
    margin: 0 auto;
}
.votes .piece .pic:hover + .desc{
    transform: scale(1.3);
    transition: 0.5s;
    background: #FCDC4A;
    border-radius: 10px;
    color: #FC4A4A;
}
.votes .piece .pic:hover{
    transform: scale(1.2);
    transition: 0.5s;
    background: #FCDC4A;
    color: #FC4A4A;
}
.votes .piece .desc{
    padding: 5px;
    font-size: 1.5vw;
    text-align: center;
    color: white;
    letter-spacing: 3px;
}
.votes .piece .btnvote{
    text-align: center;
    background: none;
    font-size: 18px;
    cursor: pointer;
}
.votes .piece .btnvote button{
    margin: 0;
    text-align: center;
    background: none;
    border: 1px solid #fcdc4a;
    border-radius: 5px;
    color: #FCDC4A;
    font-size: 18px;
    cursor: pointer;
}
table{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}
table tbody{
    text-align: left;
}
table thead tr td{
    text-align: left;
    border: 1px solid #FCDC4A;
}
table tbody tr td img{
    width: 20vw;
    height: 30vw;
}
table tbody tr td img:hover{
    transform: scale(1.3);
    transition: 0.5s;
}
table tbody tr td{
    text-align: left;
    border: 1px solid #FCDC4A;
}
table tbody tr td h1{
    font-family: main_font;
}
tr.saitama h1{
    text-align: center;
    font-size: 3em;
    letter-spacing: 5px;
    color: white;
}
td#atribut{
    text-align: center;
    color: white;
    letter-spacing: 3px;
}
td h1{
    border: 1px solid #FC4A4A;
    font-weight: normal;
    margin: 5px;
}
td div#hp{
    background-color: green;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
td div#atk{
    background-color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
td div#str{
    background-color: #c92706;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
td div#agi{
    background-color: #04c94c;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
td div#int{
    background-color: #0459c9;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.statsaitama{
    display: none;
    position: absolute;
    background: gray;
}
.piece:hover .statsaitama{
    display: block;
}
#check{
    display: none;
}
.footer{
    position: relative;
    height: auto;
    left: 0;
    width: 100%;
    bottom: 0;
    background-color: #22242A;
    color: white;
    text-align: center;
    transition: 0.5s;
}
.footer p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 5px;
    font-size: 1vw;
    letter-spacing: 3px;
    padding-right: 2%;
    margin: 0;
    text-align: center;
}